<div class="row">
    <div class="col-md-12">
        <img src="" alt="recipe_image">
    </div>
  </div>

  <div class="row">
      <div class="col-md-12">
         <h1>Recipe Name</h1>
      </div>
    </div>
<div class="row">
    <div class="col-md-12">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Manage
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#">To shopping list</a></li>
              <li><a href="#">Edit Item</a></li>
              <li><a href="#">Delete Item</a></li>
            </ul>
          </div>
    </div>
</div>


