<div class="col-md-12" style="padding: 0;">
 <div class="col-md-5">
   <label for="name">Name </label>
   <input type="text" name="shopping" class="form-control" placeholder="edit name">

 </div>
 <div class="col-md-1">
    <label for="amount">Amount </label>
   <input type="number" value="1" class="form-control" />

  </div>
  <div class="clearfix"></div>
</div>
<div class="col-md-12">
  <button class="btn btn-success" type="submit">Add</button>
          <button class="btn btn-danger" type="button">Delete</button>
  <button class="btn btn-primary" type="button">Add</button>
</div>
